<html>
<head>
	<title></title>
	<style type="text/css">
		
	</style>
</head>
<body>
	<!-- Main Content -->
		<!-- Title -->
			<div class="row heading-bg">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<h5 class="txt-dark">Edit User</h5>
				</div>
				<!-- Breadcrumb -->
				<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					<ol class="breadcrumb">
						<li><a href="/admin/dashboard/list"><i class="fa fa-home"></i></a></li>
						<li><a href="/admin/user/list"><span>  View Users</span></a></li>
						<li class="active"><a href="javascript:void(0)"><span>Edit User</span></a></li>
					</ol>
				</div>
				<!-- /Breadcrumb -->
			</div>
		<!-- /Title -->
		<!-- row -->
			<div class="row">
				<div class="col-sm-12">
					<!-- Begin basic form elements -->
					<div class="panel panel-default card-view">
						<div class="the-box">
							<form action="/admin/user/update" method="post" enctype="multipart/form-data" id="addUserForm">
								<input type="hidden" value="<%= users._id %>" name="id">
								<div class="col-sm-12">
									<div class="col-sm-6">
										<div class="form-group">
											<label>First Name</label> <input class="form-control textbox" id='firstname' name="firstname" placeholder="" type="text" value="<%=users.firstname%>">
											<p class="help-block errcolor err_fname_area" id="err_fname_area"><img class="validationimg" src="/img/arrow.png"><span id="lblfnameerrmsg"></span></p>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Middle Name</label> <input class="form-control textbox" id='middlename' name="middlename" placeholder="" type="text" value="<%=users.middlename%>">
											<p class="help-block errcolor err_mname_area" id="err_mname_area"><img class="validationimg" src="/img/arrow.png"><span id="lblmnameerrmsg"></span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Last Name</label> <input class="form-control textbox" id='lastname' name="lastname" placeholder="" type="text" value="<%=users.lastname%>">
											<p class="help-block errcolor err_lname_area" id="err_lname_area"><img class="validationimg" src="/img/arrow.png"><span id="lbllnameerrmsg"></span></p>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Email</label> <input class="form-control textbox" id='email' name="email" placeholder="" type="text" value="<%=users.email%>">
											<p class="help-block errcolor err_email_area" id="err_email_area"><img class="validationimg" src="/img/arrow.png"><span id="lblemailerrmsg"></span></p>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Status</label> 
											<select class="form-control selectbox" id="status" name="status" tabindex="2">
											<option value="">---Select Status---</option>
												<option value="Active" <%if (users.status=='Active') { %>
													selected
													<% } %>>Active</option>
													<option value="Inactive" <%if (users.status=='Inactive') { %>
													selected
													<% } %>>Inactive</option>
											</select>
											<p class="help-block err_status_area" id="err_status_area"><img class="validationimg" src="/img/arrow.png"><span id="lblstatuserrmsg"></span></p>
										</div>
									</div>
									<div class="col-sm-6" style="margin-top: 19px;">
										<div class="form-group">
											<label></label>
											<button class="btn btn-success active frmbtn" type='button' name="save" onclick="form_validate()">Save</button> <button class="btn btn-danger active frmbtn" onclick="cancel('/admin/user/list')" type='button'>Cancel</button>
										</div>
									</div>
								</div>
								<div class='clear'></div>
							</form><!-- End basic form elements -->
						</div><!-- /.the-box -->
					</div><!-- panel -->
				</div><!-- /.col-sm-6 -->
			</div>
		<!-- /.row -->
	<!-- /Main Content -->
	<script type="text/javascript">
		var _URL = window.URL;
		$(document).ready(function(){
			$(".validationimg").hide();
		});
		function form_validate() {  
				var fname_status =lname_status=mname_status= email_status=status_state=0;
				var firstname= $('#firstname').val();
				var middlename=$('#middlename').val();
				var lastname=$('#lastname').val();
				var email=$('#email').val();
				var status=$('#status').val();
				fname_status = check_empty_validation(firstname,'err_fname_area','lblfnameerrmsg','Please enter first name.');
			    lname_status= check_empty_validation(lastname,'err_lname_area','lbllnameerrmsg','Please enter last name.');
				mname_status=check_empty_validation(middlename,'err_mname_area','lblmnameerrmsg','Please enter middlename.');
				email_status=check_empty_validation(email,'err_email_area','lblemailerrmsg','Please enter email-id.');
				status_state=check_empty_validation(status,'err_status_area','lblstatuserrmsg','Please choose status.');
				if(fname_status==0 ||  lname_status==0 || mname_status==0 ||email_status==0 || status_state==0) 
				{
					return false;
				}
				else
				{
					$('#addUserForm').submit();
				}
	        }
		</script>
</body>
</html>